{{ 'custom-home.css' | asset_url | stylesheet_tag }}
{{ 'custom-div-align.css' | asset_url | stylesheet_tag }}



<body style="overflow-x: hidden; margin: 0px;">
    
    <!--SLIDE SHOW-->
    <div class="home-slideshow">
        <div class="change-slide-button-hover-left">
            <button class="previous-slide" onclick="LeftSlide()"></button>
        </div>

        <div class="home-image-content" id="HomeimageContent">
            <div class="background-image-content" style="display: block"></div>

            <div class="home-image-text-container" id="HomeImageTextContainer">
                <h1 id="HomeImageTitle" style="text-align: left; color: rgba(255, 255, 255, .9); font-size: 3vw;"></h1>
                <h3 id="HomeImageDescription" style="text-align: left; color: rgba(235, 235, 235, .8); font-size: 1.5vw; margin-bottom: 2vw;"></h3>
                <a id="HomeImageButton" class="button-home-text-container"></a>
            </div> 
        </div>

        <div class="change-slide-button-hover-right">
            <button class="next-slide" onclick="RightSlide()"></button>
        </div>

        <div id="ImagesSlideContainer" class="home-slideshow-slide" style="width: 100%; height: 100%;">
            <img class="image-slide" id="ImageSlide1" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/Distribution.png?v=1682584367">
            <img class="image-slide" id="ImageSlide2" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/foresta_e_vigna_rework_copia.jpg?v=1622213063">
            <img class="image-slide" id="ImageSlide3" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/education_TAG.png?v=1622210012">
        </div>
    </div>
 
    

    

    <div class="letterhead-div" >
        <h1 class="letterhead" >Le nostre cantine</h1>
    </div>


    <div class="collection-container" >
        <div id="CloseColletionBackgroundDiv" class="close-collection-background-div" onclick="ReInitializeCollections()">

        </div>
        <div id="CollectionsRow1" class="center-center-div">
            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop1" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText1" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage1"  class="collection-card-image" >
                
            </div>

            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop2" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText2" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage2"  class="collection-card-image" >
                
            </div>
            
        </div>

        <div id="CollectionsRow2" class="center-center-div">
            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop3" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText3" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage3"  class="collection-card-image" >
                
            </div>

            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop4" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText4" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage4"  class="collection-card-image" >
                
            </div>

            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop5" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText5" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage5"  class="collection-card-image" >
                
            </div>
            
        </div>

        <div id="CollectionsRow3" class="center-center-div">
            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop6" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText6" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage6"  class="collection-card-image" >
                
            </div>

            <div class="collection-card center-bottom-div" onclick="InitializeMiniShop(this)" >
                <div id="MiniWineShop7" class="mini-wine-shop-inside-collection">
                </div> 
                <div class="center-center-div">
                    <h2 id="CardCollectionText7" class="collection-card-text"></h2>
                </div>
                <img id="CardCollectionImage7"  class="collection-card-image" >
                
            </div>
        </div>
    </div>

    <script src="{{ 'custom-home.js' | asset_url }}" defer="defer">
      

    </script>

    <script src="{{ 'custom-minishop.js' | asset_url }}" defer="defer"></script>

    <script>

      
    </script>
  
</body>


{% schema %}
  {
    "name": "Custom home",
    "settings": [],
    "presets": [
      {
        "name": "Custom home"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

