{{ 'custom-consulting.css' | asset_url | stylesheet_tag }}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=ù, initial-scale=1.0">
    <link rel="stylesheet" href="custom-consulting.css" type="text/css">
    <title>Consulting</title>
</head>
<body style="overflow-x: hidden; margin: 0px;">
    
    <!--TITLE-->
    <div id="TitleDiv" class="title-div">
        <img class="title-div-image"     src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/CONSULENZA_GASTRONOMICA.png?v=1683034674">
        <h1 style="font-size: 4vw; color: #F9B233; position: absolute;">Consulting</h1>
    </div>

    <div style="display: flex; justify-content: center;">
        <h1 style="color: #F9B233; font-size: 4vw;">Consulenza Gastronomica</h1>
    </div>

    <!--CONSULENZA GASTRONOMICA-->
    <div class="consulenza-gastronomica-div">
        <div style="display: flex; background-color: transparent; width: 100%; height: 100%; align-items: center;">
            <h3>Le consulenze per la ristorazione fanno parte dei servizi che Tucci Atelier Gastronomico, grazie al percorso formativo ed esperienze lavorative del nostro team di professionisti, propone a ristoranti, hotel, bar, fast food, ed in generale a tutte le aziende che operano nel settore della ristorazione e Food & Beverage.</h3>
        </div>
        <div style="background-color: transparent; width: 100%; height: 100%;">
            <img>
        </div>
    </div>

    <!--I NOSTRI CLIENTI-->
    <div>
        <div style="display: flex; justify-content: center;">
            <h1 style="color: #F9B233; font-size: 4vw;">I Nostri Clienti</h1>
        </div>
    
        <div class="i-nostri-clienti-div">
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/Cien_y_Pico_logo_3_quadrato.jpg?v=1620208695">
            </div>
            
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/folini-azienda-agricola-logo_quadrato.jpg?v=1620208711">
            </div>
    
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/molino_rovescala_logo_quadrato.png?v=1620208721">
            </div>
    
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/4_480x480_5d59d11f-b41e-438c-aeb8-ebcb3fbd009d.png?v=1620634794">
            </div>
    
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/2_480x480_8e19dd97-8a6b-4e83-92d6-9cf8918fcc01.png?v=1620634815">
            </div>
    
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/bbq4all_480x480_bf124ac6-f223-4c27-8e0d-ace2f32f68fc.jpg?v=1620634737">
            </div>
    
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/hotel_filario_lucca.jpg?v=1622198280">
            </div>
            
            <div style="width: 100%; height: 100%;">
                <img class="i-nostri-clienti-div-images" src="https://cdn.shopify.com/s/files/1/0566/5285/7533/files/ristorante_acquerello.png?v=1622198297">
            </div>
        </div>
    </div>
    
    <!--LE NOSTRE COMPETENZE-->
    <div>
        <div style="display: flex; justify-content: center;">
            <h1 style="color: #F9B233; font-size: 4vw;">Le Nostre Competenze:</h1>
        </div>
    
        <div class="le-nostre-competenze-div">
            <div style="background-color: transparent; width: 100%; height: 100%; align-items: center; display: flex; justify-content: flex-end;">
                <h2 class="le-nostre-competenze-div-content-text" style="text-align: end;">Offrire una visione multidisciplinare</h2>
            </div>
    
            <div style="background-color: black; width: 5%; height: 100%;">
                
            </div>
    
            <div style="background-color: transparent; width: 100%; height: 100%; align-items: center; display: flex;">
                <h2 class="le-nostre-competenze-div-content-text">Formazione del personale per la gestione di attività ristorative</h2>
            </div>
    
            <div style="background-color: transparent; width: 100%; height: 100%; align-items: center; display: flex; justify-content: flex-end;">
                <h2 class="le-nostre-competenze-div-content-text" style="text-align: end;">Progettazione e realizzazione layout distributivi delle attrezzature di cucine professionali e di altri centri produttivi gastronomici</h2>
            </div>
    
            <div style="background-color: black; width: 5%; height: 100%;">
    
            </div>
    
            <div style="background-color: transparent; width: 100%; height: 100%; align-items: center; display: flex;">
                <h2 class="le-nostre-competenze-div-content-text">Consulenza e supporto professionale per l'avviamento e la gestione di attività di ristorazione, con creazione ricette e menù tradizionali o legati a nuove tendenze formazione del personale di cucina e di sala e perfezionamento della carta dei vini</h2>
            </div>
    
            <div style="background-color: transparent; width: 100%; height: 100%; align-items: center; display: flex; justify-content: flex-end;">
                <h2 class="le-nostre-competenze-div-content-text" style="text-align: end;">Impostare strategie per migliorare la gestione e la direzione dell’impresa</h2>
            </div>
            
            <div style="background-color: black; width: 5%; height: 100%;">
                
            </div>
    
            <div style="background-color: transparent; width: 100%; height: 100%; align-items: center; display: flex;">
                <h2 class="le-nostre-competenze-div-content-text">Stabilire nuove strategie per aumentare la redditività</h2>
            </div>
        </div>
    </div>
</body>

{% schema %}
  {
    "name": "Custom education",
    "settings": [],
    "presets": [
      {
        "name": "Custom education"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}