h1, h2, h3, h4, h5, h6, a, p{
    font-family: "Poppins";
}

.title-div{
    align-content: center;
    justify-content: center;
    display: flex;
    height: 40vw;
    width: 100vw;
}

.title-div-image{
    display: block; 
    position: relative; 
    z-index: -1; 
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}

.column-description{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 15% 1.66% 15% 1.66% 15% 1.66% 15%;
    width: 100vw;
    justify-items: center;
    justify-content: center;
    height: 30vw;
    justify-content: center;
    /* margin-top: 10vw;  */
    gap: 1vw;
    background-color: #F9B233;
    padding-top: 7vw;
    padding-bottom: 7vw;
}

.column-description-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: top;
    justify-items: center;
    font-size: 2.5vw;
}

.column-description-text{
    font-size: 1.5vw;
    text-align: left;
    font-family: "aller";
    color: white;
    font-weight: 200;
    /* margin-top: 2vw; */
}

.spacing-div{
    display: flex;
    width: 3%;
    height: 100%;
    background-color: white;
}

.consulenza-gastronomica-div{
    position: relative;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 5%;
    height: 30vw;
    width: 80vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.consulenza-gastronomica-image{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    position: relative; 
    z-index: -1;
    border-radius: inherit;
    border-width: .1vw;

}

.consulenza-gastronomica-image-div{
    width: 90%; 
    height: 90%;
    border-radius: 1vw;
    background: linear-gradient(to left, white, transparent 5%),
                linear-gradient(to right, white, transparent 5%),
                linear-gradient(to top, white, transparent 5%),
                linear-gradient(to bottom, white, transparent 5%);
    
    box-shadow: 0px 0px 1vw .5vw white,
                0px 0px 1vw 2vw #F9B233;            
}

.i-nostri-clienti-div{  
    margin-top: 5vw;
    position: relative;
    display: grid;
    grid-template-columns: 17.5% 17.5% 17.5% 17.5%;
    grid-template-rows: 40% 40%;
    gap: 5%;
    height: 30vw;
    width: 100vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.le-nostre-competenze-div{
    margin-top: 4vw;
    position: relative;
    display: grid;
    grid-template-columns: 40% 3% 40%;
    height: 80vw;
    width: 100vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.le-nostre-competenze-div-content-text{
    font-size: 2vw;
    color: rgb(150, 150, 150);
}

.i-nostri-clienti-div-images{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.i-nostri-clienti-div-items{
    width: 100%;
    height: 100%;
    box-shadow: .5vw .5vw 1vw rgb(50, 50, 50);
    border-radius: 1vw;
    cursor: pointer;
}

.le-nostre-competenze-font-style{
    font-size: 1.4vw;
    position: relative;
}

.consulenza-digital-div{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.consulenza-digital-icons{
    width: 70%; 
    height: 70%; 
    object-fit: contain;
    background-color: transparent;
    filter: drop-shadow(.5vw .5vw .2vw rgba(242, 169, 0, .3));
}

.consulenza-digital-div-items{
    display: grid; 
    width: 100%; 
    grid-template-columns: 15% 15% 15%; 
    gap: 5%; 
    align-items: center; 
    align-content: center; 
    justify-content: center; 
    justify-items: center ;
}

@keyframes le-nostre-competenze-left-items-anim {
    from {right: 50vw;}
    to {right: 0vw;}
}

.le-nostre-competenze-left-items{
    width: 100%; 
    height: 100%; 
    display: flex; 
    position: relative;
    flex-direction: column; 
    justify-content: right; 
    justify-items: right;
    align-content: end; 
    align-items: end;
    right: 0;
    align-content: center;
    /* animation-name: le-nostre-competenze-left-items-anim;
    animation-duration: 1s; */
}